In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/jz/Downloads/job_data/df.csv')
skill_count = pd.read_csv('skills2.csv')

In [8]:
# one run to get them done
df = pd.read_csv('2019-10-26-15-8-10-NEW_YORK.csv')
skill_count = pd.read_csv('skills2.csv')[:30]

df['desc'] = df['desc'].fillna('pass')
skill_list = skill_count['skills']

# create tuple of skill
def skill_cell_func(cell):

    skill_cell = ()
    if cell =='pass':
        pass
    else:
        for skill in skill_list:
            if skill in cell:
                skill_cell = skill_cell + (skill,)
    return skill_cell

# create list of skill list
cell_list_list = []
for cell in df['desc']:
    cell_list = list(skill_cell_func(cell))
    cell_list_list.append(cell_list)

# export csv file of list of skill list and then concat with df in Excel
cell_series = pd.Series(cell_list_list)
cell_series.to_csv('skill_cell.csv',index=False)

/Users/jz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [2]:
skill_count[:10]

             skills  count
0            Python   3325
1               SQL   3104
2  Machine Learning   2297
3                 R   2234
4            Hadoop   1714
5             Spark   1531
6              Java   1480
7           Tableau   1236
8       Data Mining   1059
9              Hive    966

In [3]:
df[:10]

,Unnamed: 0,date,job_title,company,Reviews,location,desc
0,0,0,Machine Lubrication Analyst,"Coeur Mining, Inc.",0,Alaska,NaN
1,1,0,FILE CLERK,Mobile County Public Schools,184,"Mobile County, AL",The duties include but are not limited to:\n\n...
2,2,0,Performance Improvement - Data Analyst,Yukon-Kuskokwim Health Corporation,0,"Bethel, AK 99559",NaN
3,3,0,Store Worker,US Department of Defense,"4,937","Redstone Arsenal, AL",NaN
4,4,0,Academic Tutor,AmeriCorps,"2,426",Alaska,NaN
5,5,0,Receptionist/Data Entry,Fetch,12,"Hoover, AL 35244",NaN
6,6,0,Timing Tower - Drag,NaN,0,Alaska,NaN
7,7,0,DATA ENTRY OPERATOR III,BBVA Compass,"2,578","Decatur, AL",Company: Compass Bank dba BBVA Compass\nLocati...
8,8,0,Election Clerk III,NaN,0,"Juneau, AK",This position serves as the main receptionist ...
9,9,0,Receptionist/Data Entry,Community Development Institute Head Start,260,Alabama,Pay Period: Hourly\nSalary Range: $ 12.53- $ 1...

In [4]:
df['desc'] = df['desc'].fillna('pass')

In [5]:
df['desc'][3]

'pass'

In [6]:
skill_list = skill_count['skills']

In [7]:
def skill_cell_func(cell):

    skill_cell = ()
    if cell =='pass':
        pass
    else:
        for skill in skill_list:
            if skill in cell:
                skill_cell = skill_cell + (skill,)
    return skill_cell

In [8]:
cell_list_list = []
for cell in df['desc']:
    cell_list = list(skill_cell_func(cell))
    cell_list_list.append(cell_list)
cell_list_list[:10]

[[],
 ['R', 'MCP'],
 [],
 [],
 [],
 [],
 [],
 ['R'],
 ['R', 'Excel', 'Microsoft Word', 'UI'],
 ['R', 'Microsoft Office', 'Excel', 'IAT']]

In [10]:
cell_series = pd.Series(cell_list_list)
cell_series.to_csv('skill_cell.csv',index=False)

/Users/jz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.