In [2]:
import pandas as pd
import numpy as np
#df = pd.read_excel('/Users/jz/前端/nyc/2019-11-2-all.xlsx')

### Salary formatting

In [ ]:
df['salary']=df['salary'].fillna(0)

In [ ]:
df['salary'][:10]

In [ ]:
date_type_list = ['a year','a month','a day','an hour','a week']
new_salary_list = []
sample_list = list(df['salary'])

for i in np.arange(0,len(list(df['salary']))):
    if sample_list[i] == 0:
        new_salary_list.append(np.nan)
    elif '-' not in sample_list[i]: 
        for date_type in date_type_list:         
            if date_type in sample_list[i]:
                salary_num = float(sample_list[i].rsplit(' a', 1) [0])
                if date_type == 'a year':
                    salary_num = salary_num
                elif date_type == 'a month':
                    salary_num = salary_num*12
                elif date_type == 'a week':
                    salary_num = salary_num*58
                elif date_type == 'a day':
                    salary_num = salary_num*260
                elif date_type == 'an hour':
                    salary_num = salary_num*2080
                new_salary_list.append(salary_num)
            else:
                pass        
    elif '-' in sample_list[i]:
        high = sample_list[i].rsplit('-', 1) [1].rsplit(' a', 1)[0]
        low = sample_list[i].rsplit('-', 1) [0]
        salary_num = (float(low) + float(high))/2
        date = sample_list[i].rsplit('-', 1) [1]
        for date_type in date_type_list:         
            if date_type in date:
                if date_type == 'a year':
                    salary_num = salary_num
                elif date_type == 'a month':
                    salary_num = salary_num*12
                elif date_type == 'a week':
                    salary_num = salary_num*58
                elif date_type == 'a day':
                    salary_num = salary_num*260
                elif date_type == 'an hour':
                    salary_num = salary_num*2080  
        new_salary_list.append(salary_num)
    else:
        pass
len(new_salary_list)

In [ ]:
df_salary_cleaned = pd.concat([df, pd.DataFrame(new_salary_list)], axis=1)
df_salary_cleaned = df_salary_cleaned.drop(columns=['salary'])
df_salary_cleaned.rename(columns={0: "salary"}, inplace = True)
df_salary_cleaned[:20]

### Location Formatting

In [ ]:
f = open("/Users/jz/前端/nyc/googleapi.txt", "r")

In [ ]:
Googleapi = f.read().replace('\n', '')

In [ ]:
import googlemaps

gmaps = googlemaps.Client(key=Googleapi)
geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

In [ ]:
def get_geo(location):
    geocode_result = gmaps.geocode(location)
    geo = geocode_result[0]['geometry']['location']['lat'], geocode_result[0]['geometry']['location']['lng']
    return geo

In [ ]:
geocode_result[0]['geometry']['location']['lat'], geocode_result[0]['geometry']['location']['lng']

In [ ]:
df_salary_cleaned['location'] = df_salary_cleaned['location'].fillna(0)

In [ ]:
import time
loc = []
for i in np.arange(0,17799):
    if df_salary_cleaned['location'][i] == 0:
        try:
            time.sleep(0.3)
            loc.append(get_geo(df_salary_cleaned['company'][i])) 
        except:
            loc.append(np.nan)
    elif:
        df_salary_cleaned['location'][i] == 'United States':
            loc.append(np.nan)
    else:
        try:
            time.sleep(0.3)
            loc.append(get_geo(df_salary_cleaned['company'][i])) 
        except:
            loc.append(np.nan)

In [ ]:
loc[:10]

In [ ]:
df_loc = pd.DataFrame(pd.Series(loc,name='loc'))

In [ ]:
df_geo_cleaned = pd.concat([df_salary_cleaned, df_loc], axis=1)

In [ ]:
#df_geo_cleaned.to_csv('df_geo_cleaned.csv')

In [ ]:
df_all= pd.read_csv('df_all.csv' ,index_col=[0])

In [ ]:
df_all[:100]

In [ ]:
df_noskill = df_all.drop(['skills'], axis=1)
df_skill = df_all['skills'].str.get_dummies(sep=',')
df_skill_rank = df_skill.sum().to_frame(name='count').sort_values(by=['count'], ascending=False)[:50]
df_skill_rank.sort_values(by=['count'], ascending=True).plot.barh(figsize=(20,20))

In [ ]:
df_noskill

In [ ]:
df_update_all = pd.concat([df_noskill, df_skill], axis=1)

In [ ]:
df_update_all.head()

In [ ]:
#df_update_all.to_csv('df_update_all.csv')

In [ ]:
df_update_all= pd.read_csv('df_update_all.csv')

In [ ]:
df_update_all_num = df_update_all.drop(columns=['job_title','company','location'])

In [ ]:
df_update_all_num = df_update_all_num.dropna(subset=['salary'])

In [ ]:
#df_update_all_num.to_csv('df_update_all_num.csv')