In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 999)
pd.set_option('display.max_rows', 999)
df = pd.read_csv('/Users/jz/Downloads/job_data/2/NEW_YORK.csv')

In [4]:
f = open("/Users/jz/前端/nyc/googleapi.txt", "r")
Googleapi = f.read().replace('\n', '')
import googlemaps

gmaps = googlemaps.Client(key=Googleapi)
geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

In [5]:
def get_geo(location):
    geocode_result = gmaps.geocode(location)
    geo = geocode_result[0]['geometry']['location']['lat'], geocode_result[0]['geometry']['location']['lng']
    return geo

In [6]:
df['location'] = df['location'].fillna(0)

In [8]:
df.shape

(1151, 9)

In [9]:
import time
loc = []
for i in np.arange(0,1151):
    if df['location'][i] == 0:
        try:
            time.sleep(0.3)
            loc.append(get_geo(df['company'][i])) 
        except:
            loc.append(np.nan)
    else:
        try:
            time.sleep(0.3)
            loc.append(get_geo(df['company'][i])) 
        except:
            loc.append(np.nan)

In [16]:
pd.DataFrame(loc).rename(columns={"0": "lat", "1": "lng"})

              0          1
0     33.791638 -84.389488
1     33.791638 -84.389488
2     40.708677 -74.010093
3     40.708677 -74.010093
4     40.682241 -73.968235
...         ...        ...
1146  36.740889 -95.932070
1147  32.785360 -96.796336
1148  32.785360 -96.796336
1149  30.401947 -97.723817
1150  32.785360 -96.796336

[1151 rows x 2 columns]

In [12]:
df_loc = pd.DataFrame(pd.Series(loc,name='loc'))
df_geo_cleaned = pd.concat([df, df_loc], axis=1)

In [13]:
df_geo_cleaned.head()

,job_title,rating,low_salary_year($),high_salary_year($),company,reviews,location,datepost,skills,loc
0,"Junior Business Analyst, Client Services",NaN,0,0,NaN,NaN,0,30.0,"Python, SQL, R","(33.791638, -84.389488)"
1,Data Analyst,NaN,0,0,NaN,NaN,0,30.0,"SQL, R, Java, Excel, JavaScript, Business Inte...","(33.791638, -84.389488)"
2,LIBOR - Project Manager / Business Analyst,4.5,0,0,Prospect 33,2.0,"New York, NY",30.0,R,"(40.7086765, -74.01009309999999)"
3,Business Analyst,4.5,0,0,Prospect 33,2.0,"New York, NY",30.0,NaN,"(40.7086765, -74.01009309999999)"
4,"Data Analyst, PNA",3.8,0,0,New York City NYC HOUSING AUTHORITY,754.0,"Manhattan, NY",30.0,"R, Excel","(40.6822409, -73.9682349)"

In [ ]:
df.loc[df['rating'] == 0,'rating'] = np.nan
df.loc[df['low_salary_year($)'] == 0,'low_salary_year($)'] = np.nan
df.loc[df['high_salary_year($)'] == 0,'high_salary_year($)'] = np.nan
df.loc[df['reviews'] == 0,'reviews'] = np.nan
df.loc[df['datepost'] == 0,'datepost'] = np.nan
df[:10]

In [ ]:
df_noskill = df.drop(['skills'], axis=1)
df_skill = df['skills'].str.get_dummies(sep=', ')
df_skill_rank = df_skill.sum().to_frame(name='count').sort_values(by=['count'], ascending=False)[:50]
df_skill_rank.sort_values(by=['count'], ascending=True).plot.barh(figsize=(20,20))

In [ ]:
df_noskill.describe(include='all')

In [ ]:
df_noskill['company']

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="nyc_zip_app")

In [ ]:
loc_address = 'Manhattan, NY'
location = geolocator.geocode(loc_address)
print((location.latitude, location.longitude))

In [ ]:
df_noskill

In [ ]:
import time
loc = []
for i in df_noskill['location']:
    time.sleep(0.3)
    try:
        location = geolocator.geocode(i)
        loc.append([location.latitude,location.longitude]) 
    except:
        loc.append(np.nan)

In [ ]:
df_loc = pd.DataFrame(pd.Series(loc,name='loc'))

In [ ]:
df_loc.head()

In [ ]:
# Use EXCEL
#df_loc.to_csv('df_loc.csv')

In [ ]:
df_loc = pd.read_csv('df_loc.csv')

In [ ]:
df_update = pd.concat([df_noskill, df_loc], axis=1)

In [ ]:
df_update

In [ ]:
len(df_update['job_title'])
df_update['Is_DA'] = np.nan

In [ ]:
for i in np.arange(0,1151):
    if 'data' in df_update['job_title'][i].lower():
        df_update['Is_DA'][i] = 1
    else:
        df_update['Is_DA'][i] = 0

In [ ]:
df_update = pd.concat([df_update, df_skill], axis=1)

In [ ]:
df_update.head()

In [ ]:
df_update.to_csv('/Users/jz/Downloads/job_data/2/df_update.csv')