In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel('/Users/jz/前端/nyc/2019-11-2-all.xlsx')

### Salary formatting

In [2]:
df['salary']=df['salary'].fillna(0)

In [3]:
df['salary'][:10]

0                       0
1                       0
2                       0
3                       0
4                       0
5                       0
6            63473 a year
7                       0
8    76859 - 99921 a year
9                       0
Name: salary, dtype: object

In [4]:
date_type_list = ['a year','a month','a day','an hour','a week']
new_salary_list = []
sample_list = list(df['salary'])

for i in np.arange(0,len(list(df['salary']))):
    if sample_list[i] == 0:
        new_salary_list.append(np.nan)
    elif '-' not in sample_list[i]: 
        for date_type in date_type_list:         
            if date_type in sample_list[i]:
                salary_num = float(sample_list[i].rsplit(' a', 1) [0])
                if date_type == 'a year':
                    salary_num = salary_num
                elif date_type == 'a month':
                    salary_num = salary_num*12
                elif date_type == 'a week':
                    salary_num = salary_num*58
                elif date_type == 'a day':
                    salary_num = salary_num*260
                elif date_type == 'an hour':
                    salary_num = salary_num*2080
                new_salary_list.append(salary_num)
            else:
                pass        
    elif '-' in sample_list[i]:
        high = sample_list[i].rsplit('-', 1) [1].rsplit(' a', 1)[0]
        low = sample_list[i].rsplit('-', 1) [0]
        salary_num = (float(low) + float(high))/2
        date = sample_list[i].rsplit('-', 1) [1]
        for date_type in date_type_list:         
            if date_type in date:
                if date_type == 'a year':
                    salary_num = salary_num
                elif date_type == 'a month':
                    salary_num = salary_num*12
                elif date_type == 'a week':
                    salary_num = salary_num*58
                elif date_type == 'a day':
                    salary_num = salary_num*260
                elif date_type == 'an hour':
                    salary_num = salary_num*2080  
        new_salary_list.append(salary_num)
    else:
        pass
len(new_salary_list)

17799

In [5]:
df_salary_cleaned = pd.concat([df, pd.DataFrame(new_salary_list)], axis=1)
df_salary_cleaned = df_salary_cleaned.drop(columns=['salary'])
df_salary_cleaned.rename(columns={0: "salary"}, inplace = True)
df_salary_cleaned[:20]

,rating,job_title,company,location,desc,salary
0,NaN,OPERATIONS ANALYST,Compass Bank dba BBVA Compass,"Birmingham, AL","Our Company\nAt BBVA, we are leading the trans...",NaN
1,NaN,Jr Business Intelligence Analyst,Compass Bank dba BBVA Compass,"Birmingham, AL","Our Company\nAt BBVA, we are leading the trans...",NaN
2,NaN,Data Analyst,HyreU,Alabama,QUALIFICATION REQUIRED Bachelor Degree\n\nEXPE...,NaN
3,NaN,Junior Data Analyst,Southern Poverty Law Center,NaN,Summary:\nThe Junior Analyst is responsible fo...,NaN
4,NaN,Data Analyst,KBRWyle,NaN,Title:\nData AnalystKBR is seeking a Data Anal...,NaN
5,NaN,OPERATIONS ANALYST,BBVA Compass,NaN,Company: Compass Bank dba BBVA Compass\nLocati...,NaN
6,NaN,Data Analyst,City of Tuscaloosa,NaN,Summary\nThe purpose of this classification is...,63473.0
7,NaN,Data Analyst,"Torch Technologies, Inc.","Huntsville, AL 35802","Job Description:\nTorch Technologies, a 100% e...",NaN
8,NaN,Business Data Analyst,US Department of the Army,NaN,Duties\nSummary\nAbout the Position:\n\nUtiliz...,88390.0
9,NaN,Junior Data Analyst,Logistics Management Institute,NaN,Position on the consulting staff of a governme...,NaN
10,NaN,Data Analytics Specialist,ITAC Solutions,"Birmingham, AL 35242",ITAC Solutions is helping one of our best clie...,65000.0
11,NaN,Business Analyst,Randall-Reilly,"Tuscaloosa, AL",Job Details\nDescription\nRandall-Reilly is lo...,NaN
12,NaN,Marketing Data Analyst,ITAC Solutions,"Birmingham, AL 35205",ITAC Solutions is helping one of our larger cl...,NaN
13,NaN,HRIS Analyst,Command Alkon,"Birmingham, AL",About Command Alkon\n\nCommand Alkon is bringi...,NaN
14,NaN,Data Analyst,J&M TANKLINES,NaN,This posting is for testing purposes.Job Type:...,NaN
15,NaN,Clinical Quality Data Analyst,Cahaba Medical Care Foundation,"Centreville, AL 35042",Cahaba Medical Care Foundation\n\nClinical Dat...,NaN
16,NaN,Data Analyst Associate,Continental Aerospace Technologies,"Mobile, AL","Summary\nWithin this department, the candidate...",NaN
17,NaN,DATA ANALYST,University of Alabama at Birmingham,NaN,Responsible for data management and analysis f...,NaN
18,NaN,Business Analyst,Compass Bank dba BBVA Compass,"Birmingham, AL","Our Company\nAt BBVA, we are leading the trans...",NaN
19,NaN,Data Analyst Associate,"Continental Motors, Inc.","Mobile, AL",Job Details\nDescription\nSummary\nWithin this...,NaN

### Location Formatting

In [6]:
f = open("/Users/jz/前端/nyc/googleapi.txt", "r")

In [7]:
Googleapi = f.read().replace('\n', '')

In [8]:
import googlemaps

gmaps = googlemaps.Client(key=Googleapi)
geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

In [9]:
def get_geo(location):
    geocode_result = gmaps.geocode(location)
    geo = geocode_result[0]['geometry']['location']['lat'], geocode_result[0]['geometry']['location']['lng']
    return geo

In [10]:
geocode_result[0]['geometry']['location']['lat'], geocode_result[0]['geometry']['location']['lng']

(37.4216124, -122.083792)

In [12]:
df_salary_cleaned['location'] = df_salary_cleaned['location'].fillna(0)

In [16]:
import time
loc = []
for i in np.arange(0,17799):
    if df_salary_cleaned['location'][i] == 0:
        try:
            time.sleep(0.3)
            loc.append(get_geo(df_salary_cleaned['company'][i])) 
        except:
            loc.append(np.nan)
    else:
        try:
            time.sleep(0.3)
            loc.append(get_geo(df_salary_cleaned['company'][i])) 
        except:
            loc.append(np.nan)

In [19]:
loc[:10]

[(33.5123288, -86.8036185),
 (33.5123288, -86.8036185),
 (40.6496878, -74.3992284),
 (32.376105, -86.30327849999999),
 (32.9026232, -80.0210655),
 (31.58127009999999, -97.1717752),
 (33.2098407, -87.56917349999999),
 (34.6774505, -86.5779171),
 (34.6645843, -98.4156381),
 (37.0918096, -76.46707889999999)]

In [20]:
df_loc = pd.DataFrame(pd.Series(loc,name='loc'))

In [21]:
df_loc.head()

                               loc
0        (33.5123288, -86.8036185)
1        (33.5123288, -86.8036185)
2        (40.6496878, -74.3992284)
3  (32.376105, -86.30327849999999)
4        (32.9026232, -80.0210655)

In [22]:
df_geo_cleaned = pd.concat([df_salary_cleaned, df_loc], axis=1)